.ant-btn-primary {
    background-color: #0D46C1;
    width: 8rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1rem;
}

.ant-btn-default {
    /* background-color: #ffffff; */
    outline: 4px;
    width: 8rem;
    height: 2.5rem;
    border-radius: 10px;
    font-size: 1rem;
}